<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Forget Password</h2>
        <h6>Enter your email ID. You will receive a temporary password if you're already registered. If you don't see it in your primary inbox, please check your spam folder.</h6>
        <input type="email" id="email" required placeholder="Email ID"><br><br>
        <button id="confirm" onclick="confirmEmail()">Confirm</button>
        <div id="loading" style="display:none;"><h6>
            <div class="loader">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div></h6>
        </div>
        <div class="links">
            <a href="{{ url_for('main') }}" class="link2">Back</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        window.onload = function() {
            document.getElementById('email').focus();
        };
        document.getElementById('email').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                confirmEmail();
            }
        });
    </script>
</body>
</html>
