<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>LOGIN NOW</h2><br>
        <input type="email" id="email" required placeholder="Email ID"><br><br>
        <input type="password" id="password" required placeholder="Password"><br><br>
        <button onclick="login()">Log In</button>
        <div class="links">
            <a href="{{ url_for('register') }}" class="link">Register</a>
            <a href="{{ url_for('forget') }}" class="link">Forgot Password?</a>
            <a href="{{ url_for('reset') }}" class="link1">Reset Password</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
        document.getElementById('email').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                login();
            }
        });

        document.getElementById('password').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                login();
            }
        });
    </script>
</body>
</html>
