<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <input type="email" id="email" required placeholder="Email ID"><br><br>
        <input type="text" id="name" required placeholder="Name"><br><br>
        <input type="password" id="password" required placeholder="Password"><br><br>
        <button onclick="register()">Register</button>
        <div class="links">
            <a href="{{ url_for('index') }}" class="link2">Back</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.getElementById('email').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                register();
            }
        });

        document.getElementById('name').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                register();
            }
        });

        document.getElementById('password').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                register();
            }
        });
    </script>
</body>
</html>
