<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <input type="email" id="email" required placeholder="Email ID"><br><br>
        <!-- <input type="text" id="name" required placeholder="Name"><br><br> -->
        <input type="password" id="password" required placeholder="Current Password"><br><br>
        <input type="password" id="new_password" required placeholder="New Password"><br><br>
        <button onclick="reset_password()">Reset</button>
        <div class="links">
            <a href="{{ url_for('index') }}" class="link2">Back</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
